[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
dbutils = "*"

[dev-packages]
pymysql = "*"
psycopg2-binary = "*"
pymssql = "*"

[requires]
python_version = "3.9"
